## Understanding the Dataset

**Objective of the Data Analysis**
* The objective depends on the type of project (e.g., classification, regression, clustering). This is more of a conceptual question, but once you've identified the objective, you can start working with the data.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/hp/Desktop/Machine Learning/Datasets/Twitter_Data.csv')

### 1. How big is the dataset?

In [4]:
print(f"Number of rows: {df.shape}")

Number of rows: (162980, 2)

### 2. How does the data look like?

In [5]:
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [6]:
df.sample(5)

                                               clean_text  category
104957  modi slogan sab saath sab vikash 5yrs\nsab saa...      -1.0
59134   its high time change the perseption people tha...      -1.0
45203   are very proud our scientists modi after india...       1.0
56713   modi bans tobacco consumption any form will ma...       1.0
23325                           east wast modi the best\n       1.0

### 3. What is the data type of columns

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162980 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162976 non-null  object
 1   category    162973 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

### 4. Are there any missing values?

In [9]:
df.isnull().sum()

clean_text    4
category      7
dtype: int64

### 5. How does the data look mathematically?

In [11]:
df.describe()

            category
count  162973.000000
mean        0.225436
std         0.781279
min        -1.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

### 6. Are there duplicate values?

In [12]:
df.duplicated().sum()

1

### 7. How is the correlation between columns?

In [14]:
# Convert categorical data to one-hot encoding
df_encoded = pd.get_dummies(df, columns=['category'], drop_first=True)

In [16]:
# Drop rows where 'clean_text' is NaN
df = df.dropna(subset=['clean_text'])

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer(max_features=1000)

# Transform the 'clean_text' column into a numeric matrix
tfidf_matrix = vectorizer.fit_transform(df['clean_text'])

# Convert the matrix into a DataFrame
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

# Concatenate with the original DataFrame (without 'clean_text')
df_final = pd.concat([df.drop(columns=['clean_text']), tfidf_df], axis=1)

# Proceed with Correlation

In [18]:
numeric_df = df_final.select_dtypes(include=[float, int])

# Calculate correlation
correlation_matrix = numeric_df.corr()

In [19]:
print(correlation_matrix)

          category       100       1st      2012      2014      2019
category  1.000000 -0.004674  0.001939  0.006868 -0.004343 -0.002363  \
100      -0.004674  1.000000  0.001954 -0.003381  0.012365  0.010684
1st       0.001939  0.001954  1.000000 -0.002001  0.005421  0.010986
2012      0.006868 -0.003381 -0.002001  1.000000  0.010100  0.008303
2014     -0.004343  0.012365  0.005421  0.010100  1.000000  0.065055
...            ...       ...       ...       ...       ...       ...
your     -0.002785 -0.007234 -0.004126 -0.004957 -0.008690 -0.014239
youre    -0.001452 -0.001856 -0.001384 -0.003129 -0.002977 -0.003136
yourself  0.002690 -0.002797 -0.001423 -0.000098 -0.001209  0.000490
youth     0.002492 -0.001552 -0.000566 -0.004067  0.006514 -0.002870
yrs       0.003134  0.002992  0.005416 -0.000175  0.009692 -0.004451

               4th      6000     72000       aap  ...  yesterday       yet
category  0.002198 -0.001437  0.000138  0.001259  ...   0.001432  0.000961  \
100      -0.004035  0.001663 -0.002500 -0.002960  ...  -0.000629 -0.001279
1st       0.002686  0.004450  0.004556 -0.000281  ...   0.001812 -0.000508
2012      0.001214 -0.003343 -0.003499 -0.000167  ...   0.005965 -0.003347
2014     -0.004025 -0.003272 -0.001449  0.003716  ...  -0.003737  0.000798
...            ...       ...       ...       ...  ...        ...       ...
your     -0.007855 -0.003805  0.002467  0.009605  ...  -0.003204 -0.000689
youre    -0.001807 -0.001594 -0.002991  0.000605  ...  -0.002303  0.000033
yourself -0.000399 -0.001531 -0.002359  0.000462  ...  -0.001543 -0.000994
youth    -0.002978 -0.001664  0.000411  0.001567  ...   0.000718 -0.002817
yrs      -0.002457 -0.000393  0.002027 -0.001818  ...  -0.001615  0.000487

              yogi       you     young      your     youre  yourself
category -0.000431 -0.001456 -0.007214 -0.002785 -0.001452  0.002690  \
100       0.001379 -0.007760 -0.003761 -0.007234 -0.001856 -0.002797
1st      -0.002843 -0.003290 -0.001087 -0.004126 -0.001384 -0.001423
2012     -0.004020 -0.010286 -0.003864 -0.004957 -0.003129 -0.000098
2014     -0.005227 -0.011152 -0.003976 -0.008690 -0.002977 -0.001209
...            ...       ...       ...       ...       ...       ...
your     -0.002336  0.196750  0.005160  1.000000  0.017802  0.037727
youre    -0.000603  0.024950  0.002351  0.017802  1.000000  0.012368
yourself -0.001092  0.071091  0.002170  0.037727  0.012368  1.000000
youth     0.009063 -0.003666  0.026096 -0.003945  0.000934  0.000607
yrs      -0.001859 -0.008498  0.000669 -0.006799 -0.001844 -0.001179

             youth       yrs
category  0.002492  0.003134
100      -0.001552  0.002992
1st      -0.000566  0.005416
2012     -0.004067 -0.000175
2014      0.006514  0.009692
...            ...       ...
your     -0.003945 -0.006799
youre     0.000934 -0.001844
yourself  0.000607 -0.001179
youth     1.000000 -0.000460
yrs      -0.000460  1.000000

[1001 rows x 1001 columns]